
.epgContainer {
    overflow: scroll;
    scroll-behavior: smooth;
    height: 85.2vh;
    padding: 10px;
    background-color: #171923;
}

.epgTable {
    height: 100%;
}

.nowButton {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 130px;
    width: 90px;
    height: 40px;
    background-color: #14DCDC;
    color: white;
    font-weight: bold;
}

